@keyframes progress-stripes {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 40px 0;
  }
}
.progress-bar {
  height: 20px;
  background-color: #4caf50;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}
.progress-bar .progress {
  height: 100%;
  background-color: #76c776;
  width: 0;
  transition: width 0.5s ease-in-out;
}